/* Colours from Catppuccin Macchiato */
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: Monofur Nerd Font Mono;
}

#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: @text;
}

#clock,
#cpu,
#memory,
#temperature,
#mode,
#pulseaudio,
#tray {
    padding: 0.5rem 0.6rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px #420225;
}

#temperature {
    margin-left: 12px;
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @peach;
}

#memory.critical {
    color: @red;
    padding-left: 5px;
    padding-right: 5px;
}

#mode {
    border-bottom: 3px transparent;
    color: white;
    margin-left: 5px;
    padding: 7px;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    padding-top: 6px;
}

#temperature.critical {
    color: red;
}

@keyframes window-highlight {
    0% {
        border-bottom-color: @mauve;
    }
    50% {
        border-bottom-color: @lavender; 
    }
    100% {
        border-bottom-color: @mauve; 
    }
}

#window {
    font-weight: bold;
    border-bottom: 2px solid transparent;
    animation: window-highlight 6s linear infinite;
}

#workspaces {
    font-size: 24px;
}

#workspaces button {
    border: 2px solid transparent;
    color: #2b0023;
    text-shadow: 0 0 3px #ffbaee, 0 1px 2px #ff9ce6;
    background-color: rgba(48, 0, 25, 0.25);
    border-radius: 4px;
    margin-bottom: 0px;
    padding: 0px;
}

@keyframes slow-invite {
    10% {
        border-color: #420225;
        border-bottom: 2px solid @rosewater;
        color: #2b0023;
    }
    25% {
        border-color: #420225;
        border-right: 2px solid @rosewater;
        color: #2b0023;
    }
    50% {
        border-color: #420225;
        border-top: 2px solid @rosewater;
    }
    75% {
        border-color: #420225;
        border-left: 2px solid @rosewater;
    }
}

#workspaces button.focused {
    animation: slow-invite 12s ease-in infinite;
    color: @pink;
    margin-bottom: 1px;
    background-color: rgba(48, 0, 25, 0.75);
    padding-left: 0;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

