@define-color text     #cad3f5;
@define-color red       #ed8796;
@define-color light-pink #ffd9ed;
@define-color dark-pink #fa2f66;

@define-color main #e807f0;
@define-color purple #d1bfff;
@define-color red #ed0212;

* {
    border: none;
    min-height: 0;
    margin: 0;
    font-family: GohuFont Nerd Font;
    font-size: 1rem;
}

#waybar {
    background: rgba(0, 0, 0, .8);
    color: @text;
}


#clock,
#memory,
#cpu,
#temperature,
#pulseaudio,
#tray {
    padding: 4px 1rem;
    font-weight: bold;
    color: black;
    text-shadow: -1px -1px 0 @purple,
        1px 1px 0 @purple,
        -1px 1px 0 @purple,
        1px -1px 0 @purple;
    background: rgba(0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 2px solid @purple;
}

#clock {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#temperature {
    border-bottom-left-radius: 10px;
}

#memory.warning {
    border-top: 2px solid @purple;
}

#memory.critical {
    border-top: 2px solid @red;
}

#network.disconnected {
    color: orange;
}

#temperature.critical {
    color: red;
}

#pulseaudio {
    border-bottom-right-radius: 10px;
    margin-right: 24px;
}

#tray {
    background: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 6px;
}

#window {
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

#workspaces {
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 0;
}

#workspaces button {
    color: black;
    text-shadow: -1px -1px 0 @purple,
        1px 1px 0 @purple,
        -1px 1px 0 @purple,
        1px -1px 0 @purple;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: .5em;
    margin-bottom: 0px;
    padding: 2px 0;
}


#workspaces button.focused {
    color: black;
    text-shadow: none;
    background-color: @purple;
    padding-left: 0;
}

#workspaces button.urgent {
    border-color: @purple;
    color: @purple;
}

