@define-color text     #cad3f5;
@define-color red       #ed8796;
@define-color light-pink #ffd9ed;
@define-color dark-pink #fa2f66;

* {
    border: none;
    min-height: 0;
    margin: 0;
    padding: 1px 1px 0 1px;
    font-family: DaddyTimeMono Nerd Font;
    font-size: .9rem;
}

#waybar {
    background: transparent;
    color: @text;
}


#clock,
#memory,
#cpu,
#temperature,
#pulseaudio,
#tray {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: .4rem 1rem;
    font-weight: bold;
    color: @light-pink;
    text-shadow: 0 0 4px #420225;
    margin-bottom: 2px;
    background-color: rgba(240, 129, 179, 0.25);
}

#clock {
    border-radius: 6px;
}

#memory {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    background-color: rgba(247, 173, 187, 0.35);
}

#memory.critical {
    color: @dark-pink;
    background-color: rgba(242, 75, 120, 0.35);
}

#network.disconnected {
    color: orange;
}

#temperature {
    margin-right: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#temperature.critical {
    color: red;
}

#pulseaudio {
    border-radius: 6px;
    margin-right: 6px;
}

#tray {
    border-radius: 6px;
}

#window {
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

#workspaces {
    font-size: 24px;
}

#workspaces button {
    color: @dark-pink;
    text-shadow: 0 0 4px @light-pink, 0 1px 2px @light-pink;
    background-color: rgba(240, 129, 179, 0.25);
    font-size: .75em;
    margin-bottom: 0px;
    padding: 0;
}


#workspaces button.active {
    color: @light-pink;
    text-shadow: none;
    background-color: rgba(242, 75, 120, 0.75);
    padding-left: 0;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

